fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
}

div.header {
  background: #FFFFFF;
  position:fixed;
  z-index:9;
  width:100%;
  height:60px;
  top:0;
}

nav {
  width:100%;
  height:50px;
  background: #292f36;
  position:fixed;
  z-index:10;
  top:7;
}

nav b {
  margin-left: 10px;
  text-decoration: none; 
  color: #FFFFFF;
}

nav ul { 
  list-style-type: none;
  margin: 0 auto;
  padding-left:0;
  text-align:left;
  //width: 960px; 
}

nav ul li { 
  display: inline-block; 
  line-height: 30px;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none; 
  color: #FFFFFF;
}

.anchor{
  display: block;
  height: 65px; /*same height as header*/
  margin-top: -65px; /*same height as header*/
  visibility: hidden;
}

p.song span {
  display: none;
  line-height:2.3em;
}

p.song.show-chords p {
  line-height:2.3em;
  margin-bottom:2em;
}

p.song.show-chords span {
  position: relative;
  top: -1em;
  display:inline-block;
  width: 0;
  overflow:visible;
  text-shadow:#CCC -1px 1px;
  color:#00F;
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
}

